@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.aboutMe{
    background-color: var(--primary-grey);
}

.profile-img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 0.3rem;
    border: 0.75rem solid var(--primary-orange);
}

.about-h1{
    font-family: 'Hammersmith One', sans-serif;
    //color: var(--primary-orange);
     color: var(--primary-black);
    text-transform: uppercase;
}

.freecode-icon{
    color: var(--primary-orange);
    background-color: var(--primary-black);
    margin-top: -0.3rem;
    padding: 0 0.3rem;
    border-radius: 1rem;
}

.technologies{
    color: var(--primary-orange);
    background-color: var(--primary-black);
    border-radius: 50%;
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
}


.technologies:hover{
    transform: scale(1.5);
}

@media(max-width: 468px){
    .profile-img{
        width:10rem;
        height: 10rem;
    }
}