@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    
}
//-------- created colors -----------//
:root{
    --primary-dark: #212529;
    --primary-orange: #e5ac23;
    --plain-white : #cdcab4;
    --primary-red: #fe001a;
    --hover-red: #ff3f52;
    --primary-white: #ffff;
    --primary-cold-grey: #b8bfc2;
    --primary-dark-grey: #666;
    --primary-grey:#ccd1d9;
    --primary-black:#1e1e1e ;
}

/*------------ Particles---------------*/

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media(max-width:768px) {
    .particles-canvas{
        display: none;
    }
}