
.experience h1{
    color: var(--primary-orange);
}

.experience-wrapper::before{
    content: "";
    position: absolute;
    top:0;
    left:50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-grey);
    z-index: 1;

}