
.footer{
    background: var(--primary-black);
    color: var(--primary-grey);
    padding: 3rem;
}

.footer a{
    text-decoration: none;
    color: var(--primary-dark-gray);
}
.footer a:hover{
    text-decoration: none;
    color: var(--primary-orange);
    cursor:pointer;
}
