@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//-------- created colors -----------//
:root{
    --navbar-bg-color: #212529;
    --primary-orange: #e5ac23;
    --plain-white : #cdcab4;
}

/*----------bootstrap var ------------*/

$navbar-light-color: var(--plain-white);
$navbar-light-hover-color: var(--primary-orange);


.logo{
    width: 13rem;
}

/*--------Links------------------------------------*/

nav{
    z-index: 2;
}

nav a.nav-link{
    font-weight: 500;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li{
    text-transform: uppercase;
}

.navbar-nav > li > a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: solid var(--navbar-bg-color);
}

.navbar-brand{
    max-width: 13.25rem;
    padding: 0;
    height: 4.5rem;
}


.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid  var(--primary-orange);
}


.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}