
.services{
    background-color: var(--primary-cold-gray);
}

.services .circle{
    margin: 0.375rem;
    background-color: var(--primary-orange);
    width: 3.125rem;
    height: 3.125rem;
}

.services .icon{
    font-size: 1.4rem;
    color: var(--primary-white);
}

.services .box{
    height: 16rem;
    border-bottom: 0.3125rem solid var(--primary-orange);
    background: var(--primary-white);
}

.services .box:hover{
    background: var(--primary-orange);
    border-bottom: 0.3125rem solid var(--primary-dark);
}

.services .box:hover .icon{
    color:var(--primary-dark);
}
.services .box:hover .circle{
    background:var(--primary-white);
}
.services .box:hover p{
    color:var(--primary-white);
    font-weight: bolder;
}